body, html{
  height:100%;
}
body{
  margin: 0;
  background-color:black;
  font-size: 18px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
button {
  border: 0;
  font-size: 16px;
  color: white;
  height: 45px;
  text-align: center;
}
.darkblue{
  background-color: #4285F4;
}
.lightblue{
  background-color: #4abde8;
}
.cyan{
  background-color: #30cfc0;
}
.green{
  background-color: #00d255;
}
.violet{
  background-color: #b579d2;
}
.orange{
  background-color: #ff961f;
}
.red{
  background-color: #db0000;
}
.title, .addDancerButton, .changeDancerButton, .textHint, .startTheParty, .stopTheParty{
  text-decoration: none;
  padding:11px 12px;
  float:left;
}
.addDancerButton:hover, .changeDancerButton:hover, .textHint:hover, .startTheParty:hover, .stopTheParty:hover{
  text-decoration: none;
  background-color: white;
  color: black;
}
.topbar{
  height:45px;
  background-color: white;
}
.title{
  height: 23px;
  background-color: white;
  color: black;
}
.dancer{
  border:10px solid;
  border-radius:10px;
  position:absolute;
}
.squareDancer{
  border:10px solid red;
  position:absolute;
}
.deadDancer {
  display: none;
}
.alvin {
  border-radius: 30px;
}
.largeObject{
  height: 100px;
  width: 100px;
  border-radius: 100px;
}
.disco{
  display: block;
  background-image: url("discoball.png");
  border-radius: 50%;
  height: 302px;
  width: 300px;
  margin: 0;
}
.x{
  -webkit-animation: x 15s linear infinite alternate;
  animation: x 15s linear infinite alternate;
}

.y{
  -webkit-animation: y 5s linear infinite alternate;
  animation: y 5s linear infinite alternate;
}
@-webkit-keyframes x {
  100% {
    -webkit-transform: translateX(calc(100vw - 300px));
    transform: translateX(calc(100vw - 300px));
  }
}

@keyframes x {
  100% {
    -webkit-transform: translateX(calc(100vw - 300px));
    transform: translateX(calc(100vw - 300px));
  }
}

@-webkit-keyframes y {
  100% {
    -webkit-transform: translateY(calc(100vh - 300px));
    transform: translateY(calc(100vh - 300px));
  }
}

@keyframes y {
  100% {
    -webkit-transform: translateY(calc(100vh - 300px));
    transform: translateY(calc(100vh - 300px));
  }
}
