body, html{
  height:100%;
}
body{
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}
.largeObject{
  height: 100px;
  width: 100px;
  border-radius: 100px;
}
.disco{
  display: block;
  background: url('discoball.png');
  border-radius: 50%;
  height: 302px;
  width: 300px;
  margin: 0;
}
.x{
	-webkit-animation: x 10s linear infinite alternate;
  -moz-animation: x 10s linear infinite alternate;
	animation: x 10s linear infinite alternate;
}
.y{
	-webkit-animation: y 5s linear infinite alternate;
  -moz-animation: y 5s linear infinite alternate;
	animation: y 5s linear infinite alternate;
}
@-webkit-keyframes x{
   100% {
   -webkit-transform: translateX(calc(100vw - 300px));
   transform: translateX(calc(100vw - 300px));
  }
}
@keyframes x{
   100% {
   -webkit-transform: translateX(calc(100vw - 300px));
   transform: translateX(calc(100vw - 300px));
  }
}
@-webkit-keyframes y{
   100% {
   -webkit-transform: translateY(calc(100vh - 300px));
   transform: translateY(calc(100vh - 300px));
  }
}
@keyframes y{
   100% {
   -webkit-transform: translateY(calc(100vh - 300px));
   transform: translateY(calc(100vh - 300px));
  }
}
